.agencyServices {
  padding: 10px 0 100px 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.title {
  text-align: center;
  font-size: var(--font-size-heading2);
  font-weight: var(--font-weight-bold);
  margin-bottom: 40px;
}

.accordion {
  flex-basis: 50%;
  padding: 0 40px;
}

.line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: var(--bg-color-light-grey);
  margin-bottom: 5px;
}

.line.expanded {
  display: none;
}

.serviceItem {
  flex-basis: 50%;
  background-color: var(--bg-color-white);
  text-align: left;
}

.serviceHeader {
  display: flex;
  align-items: center;
}

.serviceHeader.expanded {
  padding-top: 20px;
}

.serviceIcon {
  font-size: var(--font-size-heading1);
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.serviceTitle {
  text-align: left;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  margin-left: 20px;
  flex-grow: 1;
}

.card {
  border-radius: var(--border-radius-small);
  background-color: var(--bg-color-white);
}

.card.expanded {
  background-color: var(--bg-color-light-grey);
  transform: translateY(15px);
}

.card-expanded .serviceHeader {
  border: unset;
}

.card.expanded .serviceTitle {
  color: var(--color-secondary);
}

.expandButton {
  border: none;
  background-color: transparent;
  width: 48px;
  height: 48px;
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px 0 0;
  /* transition: background-color 0.3s ease; */
}

.expandButton img {
  width: 32px;
  transition: transform 0.3s ease;
}

.arrow {
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

.expandButton.expanded img {
  background-color: var(--bg-color-light-grey);
  transform: rotate(180deg);
}

.description {
  font-size: var(--font-size-medium);
  background-color: var(--bg-color-light-grey);
  max-height: 0;
  overflow: hidden;
  text-align: left;
  transition: max-height 0.3s ease-out;
}

.description.expanded {
  max-height: 1000px;
  padding: 10px 20px 20px 20px;
  
}

@media screen and (max-width: 1440px) {
  .container {
    width: 80%;
  }

  .accordion {
    padding: 0 20px;
    flex-basis: 60%;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 0 40px;
  }
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column-reverse;
    padding: unset;
  }

  .container {
    width: 80%;
  }
  .accordion {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .accordion {
    padding: 0 20px;
  }
  .expandButton img {
    width: 28px;
  }

  .wrapper img {
    width: 90%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .agencyServices {
    max-width: 480px;
    width: 100%;
    padding: 10px 0 80px 0;
  }

  .container {
    width: 100%;
  }

  .accordion {
    padding: 0 25px;

  }
}