.hero {
  background: var(--bg-color-linear-gradient-1);
}

.heroContainer {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
  margin: 0 auto;
}

.content {
  margin: auto;
  flex-basis: 48%;
}

.title {
  font-size: var(--font-size-heading-large);
  font-weight: var(--font-weight-bold);
  margin-bottom: 30px;
  line-height: var(--line-height-extra-large);
  margin-right: 80px;
}

.description {
  font-size: var(--font-size-medium);
  margin-bottom: 36px;
  line-height: var(--line-height-medium);
  margin-right: 50px;
}

.image {
  display: flex;
  justify-content: center;
  flex-basis: 52%;
  height: 500px;
}

.image img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 480px) {
  .hero {
    max-width: 480px;
    width: 100%;
    text-align: center;
    background: var(--bg-color-linear-gradient-2);
  }

  .heroContainer {
    max-width: 480px;
    flex-direction: column;
    padding: 65px 0;
  }

  .content {
    margin-bottom: 65px;
  }

  .title {
    margin-right: unset;
  }

  .description {
    margin: 30px 25px;
    text-align: left;
  }

  .image img {
    width: 90%;
  }
}