.hero {
  background: linear-gradient(90deg, #fdc0b7 0%, #d2ccff 50%, #6bb4fd 100%);
}

.heroContainer {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
  margin: 0 auto;
}

.content{
  margin: auto;
  flex-basis: 48%;
}

.title {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 48px;
  margin-right: 80px;
}

.description {
  font-size: 18px;
  margin-bottom: 36px;
  line-height:24px;
  margin-right: 50px;
}

.ctaButton {
  display: inline-block;
  font-size: 18px;
  padding: 14px 36px;
  color: white;
  background-color: #00BAFF;
  text-transform: uppercase;
  padding: 20px 25px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2) ;
  border: none;
  cursor: pointer;
}

.image {
  display: flex;
  justify-content: center;
  flex-basis: 52%;
  height: 500px;
}

.image img {
  max-width: 100%;
  height: auto;
}