.btn {
    display: inline-block;
    background-color:var(--bg-color-primary);
    color: var(--color-white);
    font-size: var(--font-size-medium);
    text-align: center;
    text-transform: uppercase;
    padding: 20px 32px;
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-medium);
    border: none;
    cursor: pointer;
}

