.portfolio {
    max-width: 1280px;
    background-color: var(--bg-color-white);
    text-align: center;
    margin: 0 auto;
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 670px;
    text-align: center;
}

.headings h2 {
    font-size: var(--font-size-heading2);
    font-weight: var(--font-weight-bold);
    margin-bottom: 32px;
}

.headings p {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
    display: inline-block;
    margin-bottom: 44px;
}

.card {
    width: 100%;;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card:nth-child(2n) {
    flex-direction: row-reverse;
}

.card div {
    flex-basis: 50%;
}

.image {
    width: 100%;
    height: auto;
}

.content {
    padding-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.content h2 {
    font-size: var(--font-size-heading2);
    font-weight: var(--font-weight-bold);
    margin-block: 15px 0;
}

.content p {
    text-align: right;
}

.card:nth-child(2n) .content {
    align-items: flex-start;
    padding-right: unset;
    padding-left: 120px;
}

.card:nth-child(2n) .content p {
    text-align: left;
}

.line {
    display: inline-block;
    width: 330px;
    height: 2px;
    background-color: var(--bg-color-primary);
    margin: 15px 0 36px 0;
}

.line:last-of-type {
    margin-top: 40px;
}

.cardDescription {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
    display: inline-block;
    margin-bottom: 32px;
}

@media screen and (max-width: 480px) {
    .portfolio {
        max-width: 480px;
        width: 100%;
    }

    .headings h2 {
        margin-bottom: 30px;
    }

    .headings p {
        margin-bottom: 40px;
    }

    .card,
    .card:nth-child(2n) {
        flex-direction: column-reverse;
        margin-block: 30px 64px;
    }

    .card:nth-child(2n){
        margin-block: 30px 24px;
    }

    .image {
        width: 90%;
    }

    .headings p {
        margin-inline: 20px;
    }

    .content,
    .card:nth-child(2n) .content {
        align-items: start;
        padding: 0 20px 0 20px;
    }

    .content p {
        text-align: left;
    }

    .line:last-of-type {
        margin-top: 0;
        margin-inline: auto;
        width: 90%;
        display: inline-block;
        padding: 0 20px;
    }
}