.ready {
    background: url('../../assets/chromeye_assignment_desktopbgbanner_v1.jpg') no-repeat center center;
    background-size: cover;
    padding: 130px 0;
    text-align: center;
}

.container {
    background-color: var(--bg-color-white);
    opacity: 0.9;
    max-width: 900px;
    height: 300px;
    margin: 0 auto;
    padding: 25px;
    border-radius: var(--border-radius-big);
}

.title {
    color: var(--color-secondary);
    font-size: var(--font-size-heading-large);
    font-weight: --font-weight-bold;
    line-height: var(--line-height-extra-large);
    text-shadow: var(--shadow-medium);
}

.description {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-regular);
    color: var(--color-secondary);
    margin-bottom: 40px;
    max-width: 800px;
    margin: 10px 130px 20px 130px;
    text-shadow: var(--shadow-medium);
}

.cta-button {
    background-color: var(--bg-color-dark-grey);
    font-size: var(--font-size-body);
    padding: 23.5px 41.6px;
}

@media screen and (max-width: 480px) {
    .ready {
        max-width: 480px;
        width: 100%;
        background: url('../../assets/chromeye_assignment_mobilebgbanner_v1.svg') no-repeat center center;
        padding: 60px 0;
    }
    .container {
        max-width: 430px;
        height: 372px;
        padding: 30px 10px;
    }

    .description {
        margin: 25px 0;
        line-height: var(--line-height-medium);
    }
}