.header {
    width: 100%;
    background-color: var(--color-white);
    padding-block: 20px;
}

.container {
    max-width: 1280px;
    height: 85px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    width: auto;
}

.navContainer {
    display: flex;
    justify-content: flex-end;
}

.navList {
    display: flex;
    align-items: center;
    padding-top: 3px;
}

.navItem {
    text-align: center;
    text-transform: uppercase;
    margin-inline: 28px;
}

.navLink {
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
    transition: color 0.3s ease;
}

.line {
    display: block;
    width: 330px;
    height: 2px;
    background-color: var(--bg-color-light-grey);
    display: none;
}

.navItem:first-of-type a {
    text-shadow: var(--shadow-text);
}

.navItem:last-child .navLink {
    background-color: var(--bg-color-dark-grey);
    color: var(--color-white);
    padding: 21px 25px;
}

@media screen and (min-width: 481px) {
    .menuToggle {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .header {
        max-width: 480px;
        width: 100%;
        height: 80px;
        padding: unset;
        transform-origin: top;

    }

    .header.navOpen {
        animation: expandHeader 0.3s ease forwards;
    }

    .header.navClose {
        height: 124px;
        padding: 22px 0;
        animation: collapseHeader 0.3s ease-out 0.2s forwards;
    }

    @keyframes expandHeader {
        0% {
            height: 80px;
            padding: unset;
        }

        100% {
            height: 124px;
            padding: 22px 0;
        }
    }

    @keyframes collapseHeader {
        0% {
            height: 124px;
            padding: 22px 0;
        }
        100% {
            height: 80px;
            padding: unset;
        }
    }

    .container {
        padding: 5px 20px;
        height: 80px;
    }

    .logo a img {
        height: 100%;
    }

    .navList {
        width: 100%;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 124px;
        left: 0;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        box-shadow: var(--shadow-menu);
        transform-origin: top;
    }

    .navList.navOpen {
        max-height: 0;
        opacity: 0;
        animation: slideDown 0.3s ease-out 0.3s forwards;
    }

    .navList.navClose {
        max-height: 1000px;
        opacity: 1;
        animation: slideUp 0.3s ease forwards;
    }


    @keyframes slideDown {
        0% {
            max-height: 0;
            opacity: 0;
            transform: scaleY(0);
        }

        100% {
            max-height: 1000px;
            opacity: 1;
            transform: scaleY(1);
        }
    }

    @keyframes slideUp {
        0% {
            max-height: 1000px;
            opacity: 1;
            transform: scaleY(1);
        }

        80% {
            opacity: 1;
            transform: scaleY(0.8);
        }

        100% {
            max-height: 0;
            opacity: 0;
            transform: scaleY(0);
        }
    }


    .navItem {
        width: 100%;
        margin-inline: 0;
        padding-top: 28px;
    }

    .navItem:last-child .navLink {
        padding: 21px 38px;
    }

    .navLink {
        font-size: var(--font-size-medium);
    }

    .line {
        display: block;
        margin: 28px auto 0 auto;
    }

    .navItem:first-of-type a {
        text-shadow: unset;
    }

    .navItem:nth-last-child(-n+2) .line {
        display: none;
    }

    .navItem:last-child {
        margin-block: 20px;
        padding: 10px 20px;
    }

    .menuToggle {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    }

    .icon {
        width: 50px;
        height: 55px;
        color: var(--color-dark-gray);
    }
}