.footer {
    padding: 60px 30px;
    color: var(--color-dark-gray);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.logoSection {
    height: 85px;
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.logo img {
    height: 80px;
}

.cta-button {
    background-color: var(--bg-color-dark-grey);
    font-size: 16px;
    padding: 23.5px 41.6px;
}

.linksSection {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    gap: 40px;
    text-align: left;
    padding: 40px auto;
}

.linksList {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.linksList li {
    margin-bottom: 32px;
}

.linksList li a,
.socialMedia p {
    color: var(--color-dark-gray);
    font-size: var(--font-size-heading3);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-large);
    margin-bottom: 32px;
}

.socialMedia p {
    margin-bottom: 20px;
}

.linksList p {
    margin-top: 25px
}

.column {
    flex: 1;
}

.column:nth-child(1) {
    flex-basis: 30%;
}

.column:nth-child(2) {
    flex-basis: 34%;
}

.column:nth-child(3) {
    flex-basis: 15%;
}

.socialLinks {
    display: flex;
    gap: 10px;
}

.socialIcon img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
}

.contactSection {
    font-size: var(--font-size-heading3);
    font-weight: var(--font-weight-medium);
    text-align: left;
    margin-top: 30px;
}

.contactSection p {
    font-size: var(--font-size-heading3);
    margin-bottom: 10px;
}

.contactSection address {
    font-style: normal;
    font-size: var(--font-size-body);
    line-height: var(--line-height-regular);
    margin-top: 20px;
}

.contactSection a {
    color: var(--color-dark-gray);
}

.contactSection a:nth-of-type(2) {
    text-decoration: underline;
}

.contactSection a:hover {
    color: var(--color-primary);
}

@media screen and (max-width: 480px) {
    .footer {
        max-width: 480px;
        width: 100%;
        padding: 60px 25px;
    }

    .container {
        max-width: 480px;
        gap: 20px;
    }

    .logoSection {
        flex-direction: column;
        justify-content: space-between;
        gap: 0;
        height: 189px;
        align-items: flex-start;
        margin: 0;
    }

    .linksSection {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .column {
        flex: 1;
        width: 100%;
        padding: 30px 0;
    }

    .column:nth-child(1),
    .column:nth-child(2),
    .column:nth-child(2) {
        flex-basis: unset;
        padding: 0;
        border-bottom: 2px solid var(--color-light-gray);
    }

    .column:nth-child(2) {
        padding-top: 30px;
    }

    .linksList {
        width: 100%;
    }

    .linksList li, 
    .socialLinks  {
        margin-bottom: 30px;
    }

    .contactSection {
        text-align: left;
        margin-top: 30px;
    }

    .contactSection address {
        text-align: left;
    }

    .socialMedia {
        justify-content: left;
        border-bottom: 2px solid var(--color-light-gray);
    }

    .socialMedia p {
        text-align: left;
    }
}